<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title>Library store</title>
</head>

<body>
  <header>
    <div class="py-5 text-center">
      <h1>Welcome to the Library!</h1>
      <p>Para ver la lista de libros haga click <a href="/book/listed-books">ACÁ</a></p>
      <p>Para ver la lista de autores haga click <a href="/author/listed-authors">ACÁ</a></p>
      <p>Para ver la lista de editoriales haga click <a href="/publisher/listed-publishers">ACÁ</a></p>
    </div>
  </header>
  <section>

  </section>
</body>

</html>