<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title>Library store</title>
</head>

<body>
  <header>
    <div class="py-5 text-center">
      <h1>Welcome to the Library!</h1>
    </div>
  </header>
  <body>
    <div class="py-5 text-center">
      <h2>Where do you wanna go?...</h2>
      <div class="btn-group">
        <a class="btn btn-primary bg-info" href="/book/listed-books">Books</a>
        <a class="btn btn-primary bg-info" href="/author/listed-authors">Authors</a>
        <a class="btn btn-primary bg-info" href="/publisher/listed-publishers">Publishers</a>
      </div>
    </div>
  </body>
  <section>

  </section>
</body>

</html>