<!DOCTYPE html>
<html lang="en">

<head>
  <!--/*/ <th:block th:include="fragments/fragments.html :: head">
        </th:block> /*/-->
  <link rel="stylesheet" href="/index.css">
  <title>Library</title>
</head>

<body>
  <header>
    <div th:replace="fragments/fragments.html :: nav"> </div>
    <h1>Books available in the Library:</h1>
  </header>
  <div class="index">
    <div class="text-body">
      <h2>Welcome to the best digital library...</h2>
      <p>Where you can buy or rent your favourites books, share them with
        your friends and many more!</p>
    </div>
    <div class="image">
        <h1>Digital Library Store</h1>
    </div>
  </div>
  <div th:replace="fragments/fragments.html :: footer"></div>
</body>

</html>